<div class="container">
    <span>
        THÓI QUEN ĐỌC SÁCH SẼ QUYẾT ĐỊNH TƯƠNG LAI CỦA BẠN

        01
        Trong cuốn sách "Sống không hối tiếc: Tuổi 20 nhiệt huyết", tác giả Ken Honda có viết:
        "Khi 20 tuổi, tôi hầu như đã đọc tất cả các thể loại sách. Nào là tiểu thuyết giả tưởng, huyền bí, kinh tế, phát
        triển bản thân, tôn giáo,... kiểu nào tôi cũng đọc. Khi đó có khi tôi bận rộn, có khi rảnh rỗi, nhưng khi đến
        tuổi 30, 40 tuổi rồi nhìn lại tôi mới thấy tuổi 20 là giai đoạn có nhiều thời gian rảnh rỗi nhất.

        Sau này chúng ta còn phải chia sẻ thời gian cho con nhỏ, cho vợ chồng, chăm sóc bố mẹ già... còn ở tuổi 20, các
        bạn có thể dành thời gian hoàn toàn cho bản thân. Do đó có thể nói các bạn đang ở giai đoạn rảnh rỗi nhất.
        Có bạn nghĩ rằng mình quá bận bịu để đọc sách, nhưng lại có thể dành nhiều giờ mỗi ngày để lướt web, xem truyền
        hình, chơi game... Theo tôi, như thế thật là lãng phí. Bạn hãy xem lại mình nên ưu tiên thời gian cho việc nào.
        ...

        Nếu liệt kê cho đủ thì sách nhiều vô kể. Cuốn Phúc âm về sự giàu có của Carnegie với lối suy nghĩ rằng cuộc đời
        mình do chính mình tạo nên, đã giúp tôi giác ngộ ra được nhiều điều. Trước đó tôi cho rằng cuộc sống chỉ là một
        trò đùa của tạo nhận thấy mình có thể làm lại mọi thứ từ con số 0. Quyển sách này đã giúp tôi vượt qua giai đoạn
        bế tắc trong cuộc đời.

        Nhờ đọc sách mà tôi có thể hoàn thiện quan điểm và cảm nhận của bản thân. Tôi hy vọng bạn cũng có thể tìm được
        những cuốn sách hay cho mình, để ngay từ những năm 20 tuổi đã có thể làm chủ cuộc sống."

        02
        Có một câu nói tiếng Anh như thế này: "A house without books is like a room without windows" (tạm dịch:
        ngôi nhà không có sách cũng giống như căn phòng không có cửa sổ). Khi đọc sách biến thành thói quen, chắc
        hẳn trong thời gian rảnh rỗi, bạn sẽ coi những cuốn sách giống như những người bạn của mình và là nơi bạn gửi
        gắm tinh thần của mình để khám phá những chân trời kiến thức mới.

        Người không chịu đọc sách sẽ dần trở nên lười biếng, tầm nhìn ngày càng nông cạn, tư tưởng không bắt kịp
        thực tế. Nhà văn Tưởng Phương Chu từng nói: "Giá trị quan của một người không đọc sách là do bản thân
        của người ấy quyết định". Bởi lẽ, không đọc sách nên họ "đành" nhìn nhận bằng con mắt của người khác, nghe
        bằng đôi tai của người khác, cuộc sống thiếu đi ý kiến chủ quan phải chăng sẽ nhạt nhòa phải không?
        Một cuốn sách hay sẽ tưới tắm tâm hồn mệt mỏi của bạn sau những giờ làm việc căng thẳng. Khi chìm đắm vào nội
        dung cuốn sách, có thể bạn còn chẳng sợ sự cô đơn nữa. Hơn nữa, bạn sẽ có cảm giác như được sống một cuộc đời
        khác khi hòa vào những dòng suy nghĩ của các nhân vật trong truyện hay tiếp nhận được rất nhiều kiến thức mới mà
        chẳng cần phải đi đâu xa.

        03
        Đạo diễn Vương Triều Ca có bài phát biểu nổi tiếng với tựa đề "Tôi nghe nói rằng hầu hết mọi người chết ở tuổi
        36":

        "12 năm sinh ra rồi lớn lên, đến tuổi 36, lúc này gia đình, công việc và cuộc sống đang ổn định thì một số người
        sẽ bị kiệt sức khi họ 36 tuổi, vì họ làm điều tương tự mỗi ngày với cùng cách thức, ăn cùng một bữa ăn và đi
        theo cùng một con đường nhưng sức khỏe họ sẽ dần giảm sút nếu tuổi càng cao. Ở tuổi 36, nó được chia thành hai
        loại: một là người chỉ biết lặp lại hành động, hai là bắt đầu tìm kiếm một cuộc sống mới.

        Bạn càng đọc nhiều sách, khả năng của bạn cùng mức độ chuyên nghiệp của bạn sẽ được bồi dưỡng, bạn sẽ có thể
        nhìn thấy một thế giới rộng lớn hơn. Thông qua việc đọc, bạn có thêm sức mạnh chống lại những điều xấu xa và
        cuộc sống của bạn sẽ rẽ sang hướng tốt hơn. Điều này bạn có thể không thấy rõ ràng ở độ tuổi 20, nhưng nó sẽ
        được phơi bày ở độ tuổi 30. Do đó, một số người được cho rằng đã "chết" ở tuổi 35, còn một số người mới lên
        đường tạo dựng cuộc đời họ ở tuổi 35".

        Trong thế giới của tri thức đâu có phân biệt người học thức cao hay người học thức thấp, người giàu có hay người
        nghèo khổ. Ai cũng có quyền và có thể đọc được sách nhưng sách hay chỉ dành cho những ai thực sự yêu mến và
        không bao giờ từ bỏ việc học tập. Bằng cách nỗ lực suốt đời, không chỉ bản thân bạn tự tin hơn mà bạn cũng có
        thể nhìn sâu vào bên trong tâm hồn mình và truyền cảm hứng tới những người xung quanh.
    </span>
</div>